
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar{
    background: rgb(126, 250, 115);
    height: 84px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

.navbar > h2 {
    font-size: 20px;
    font-weight: bold;
   
}

.nav-menu{
    display: flex;
    gap: 30px;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 206, 47);
    }
    
    .nav-menu li {
    float: right;
    
    }

    .nav-menu > li > a{
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
    
    /* .nav-menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    } */
    
    /* .nav-menu li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 255, 26);
    } */
    
    .nav-menu >li.dropdown {
        position:relative;
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: rgb(41, 232, 73);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    .dropdown-content a:hover {
        background-color: gray;
        color:white;
        }
    

    
    ul li.dropdown:hover .dropdown-content {
    display: block;
    }

.first-container{
    display: flex ;
    height: 470px;
    padding: 0 10%;
    background: rgb(163, 255, 181);
}

.first-container h1{
    font-size: 30px;
}

.first-container > div{
width: 50%;
align-self: center;
}

.first-container > img{
    width: 50%;
    height: 200px;
    align-self: center;
    }

   

    .twice-container{
        display: flex ;
        height: 470px;
        padding: 0 10%;
        background: rgb(87, 233, 114);
    }
    
    .twice-container h1{
        font-size: 30px;
    }
    
    .twice-container > div{
    width: 50%;
    align-self: center;
    }
    
    .twice-container > img{
        width: 50%;
        height: 200px;
        align-self: center;
        }

    .center-container{
        background: white;
        height: 280px;
        margin: 40px 0;
        padding: 0 10%;
        display: flex;
        
    }

    .center-container > div{
        width: 60%;
        display: flex;
        font-size: medium;
        justify-content: center;
        align-items: center;
        align-self:center;
        flex-direction: column;
        box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
        }

        .center-container > div > div{
           
            width: 300px;
            }

        .center-container > img{
            width: 40%;
            object-fit: cover;
            }

            .left-flood-teks{
                display: flex;
                justify-content: space-between;
            }

        .content-container{
            height: 400px;
            background: white;
            margin: 40px 0;
            padding: 0 10%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .content-container .content1{
            background: rgba(44, 44, 224, 0.903);
            height: 90%;
            box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
        }

        .content1 > .content1-body > .Read-more{
            padding: 20px;
            color: aliceblue;
        }
        .content1 p{
            font-size: 14px;
            color: aliceblue;
        }
        .content1> .content1-floot{
            padding: 20px;
            color: aliceblue;
            justify-content: space-between;
        }

        .content-container .content2{
            background: rgba(235, 207, 50, 0.849);
            height: 90%;
            box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
        }

        .content2 > .content2-body > .Read-more{
            padding: 20px;
            color: aliceblue;
        }
        .content2 p{
            font-size: 14px;
            color: aliceblue;
        }
        .content2> .content2-floot{
            padding: 20px;
            display: flex;
            color: aliceblue;
            justify-content: space-between; 
        }

        .content-container .content3{
            background: rgba(69, 225, 38, 0.867);
            height: 90%;
            box-shadow: 4px 4px 8px 4px rgba(1, 1, 1, 0.1);
        }

        .content3 > .content3-body > .Read-more{
            padding: 20px;
            color: aliceblue;
            
        }
        .content3 p{
            font-size: 14px;
            color: aliceblue;
        }
        .content3> .content3-floot{
            padding: 20px;
            display: flex;
            color: aliceblue;
            justify-content: space-between;
            
        }

        .alasan-container {
            min-height: 300px;
            display: flex;
            background: rgb(123, 240, 123);
            padding: 0 10%;
            ;
            
        }

        .alasan-container > ol >li {
            text-align: left;
            
        }

        .patner-container{
            height: 100px;
            height: 20px;
            padding: 100px;
            align-self: center;
            font-size: 30px;
        }

        .Pembayaran-container{
            height: 450px;
            background: white;
            margin: 40px 0;
            padding: 0 10%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .Pembayaran-container .content4{
            background: rgba(255, 255, 255, 0.903);
            height: 100%;
            box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
        }

        .content4 > .content4-body{
            padding: 20px;
            
        }
        .content4-body > img {
            object-fit: fill;
            height: 50px;
            width: 100%;
        }
        .content4 p{
            font-size: 14px;
            
        }
       

        .Pembayaran-container .content5{
            background: rgba(255, 255, 255, 0.849);
            height: 100%;
            box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
        }

        .content5 > .content5-body{
            padding: 20px;
            
        }
        .content5-body > img {
            object-fit: fill;
            height: 50px;
            width: 100%;
        }
        .content5 p{
            font-size: 14px;
           
        }
        
        .Pembayaran-container .content6{
            background: rgba(255, 255, 255, 0.867);
            height: 100%;
            box-shadow: 4px 4px 8px 4px rgba(1, 1, 1, 0.1);
        }

        .content6 > .content6-body{
            padding: 20px;
            
            
        }

        .content6-body > img {
            object-fit: fill;
            height: 200px;
            width: 100%;
        }
        .content6 p{
            font-size: 14px;
            
        }

        .end {
            height: 20px;
            padding: 20px;
        }

        @media(max-width: 670px){
            .navbar{
                width: auto;
                height: 40px;
                display: flex;
                padding: 0 auto;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
            }

            .navbar > h2 {
                font-size: 20px;
                font-weight: bold;
               
            }
            
            .nav-menu{
                display: flex;
                gap: 10px;
            }
                 ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: rgb(66, 206, 47);
                }
                
                li {
                float: right;
                }
                
                li a, .dropbtn {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 0 auto;
                text-decoration: none;
                }
                
                li a:hover, .dropdown:hover .dropbtn {
                background-color: rgb(0, 255, 26);
                }
                
                li.dropdown {
                display: inline-block;
                }
                
                .dropdown-content {
                display: none;
                position: absolute;
                background-color: #ffffff;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                }
                
                .dropdown-content a {
                color: rgb(41, 232, 73);
                padding: 0 auto;
                text-decoration: none;
                display: block;
                text-align: left;
                font-size: x-small;
                }
                
            
                
                .dropdown:hover .dropdown-content {
                display: block;
                }
            
            .first-container{
                display: flex ;
                height: 470px;
                padding: 0 auto;
                background: rgb(163, 255, 181);
            }
            
            .first-container h1{
                font-size: 30px;
            }
            
            .first-container > div{
            width: 50%;
            align-self: center;
            }
            
            .first-container > img{
                width: 50%;
                height: 100px;
                align-self: center;
                }
            
               
            
                .twice-container{
                    display: flex ;
                    height: 470px;
                    padding: 0 10%;
                    background: rgb(87, 233, 114);
                }
                
                .twice-container h1{
                    font-size: 30px;
                }
                
                .twice-container > div{
                width: 50%;
                align-self: center;
                }
                
                .twice-container > img{
                    width: 50%;
                    height: 200px;
                    align-self: center;
                    }
            
                #tempat{
                    background: white;
                    height: 430px;
                    margin: 0 auto;
                    padding: 0 10%;
                    float: none;
                    display: flex;
                    flex-direction: column;
                    
                }
            
                #kotak{
                    width: 60vw;
                    display: flex;
                    float: none;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
                    }
            
                    #cent{
                       
                        width: 50vw;
                        }
            
                    #tempat > img{
                        width: 180px;
                        padding: 10px 40px;
                        object-fit: cover;
                        }
            
                        .left-flood-teks{
                            display: flex;
                            justify-content: space-between;
                        }
            
                    .content-container{
                        height: 400px;
                        background: white;
                        margin: 40px 0;
                        padding: 10% 0 15% 0;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-columns: repeat(auto-fit);
                        gap: 5px;
                    }
            
                    .content-container .content1{
                        background: rgba(44, 44, 224, 0.903);
                        height: 90%;
                        box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
                    }
            
                    .content1 > .content1-body > .Read-more{
                        padding: 10px;
                        color: aliceblue;
                    }
                    .content1 p{
                        font-size: 14px;
                        color: aliceblue;
                    }
                    .content1> .content1-floot{
                        padding: 20px;
                        color: aliceblue;
                        justify-content: space-between;
                    }
            
                    .content-container .content2{
                        background: rgba(235, 207, 50, 0.849);
                        height: 90%;
                        box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
                    }
            
                    .content2 > .content2-body > .Read-more{
                        padding: 10px;
                        color: aliceblue;
                    }
                    .content2 p{
                        font-size: 14px;
                        color: aliceblue;
                    }
                    .content2> .content2-floot{
                        padding: 20px;
                        display: flex;
                        color: aliceblue;
                        justify-content: space-between; 
                    }
            
                    .content-container .content3{
                        background: rgba(69, 225, 38, 0.867);
                        height: 90%;
                        box-shadow: 4px 4px 8px 4px rgba(1, 1, 1, 0.1);
                    }
            
                    .content3 > .content3-body > .Read-more{
                        padding: 10px;
                        color: aliceblue;
                        
                    }
                    .content3 p{
                        font-size: 14px;
                        color: aliceblue;
                    }
                    .content3> .content3-floot{
                        padding: 20px;
                        display: flex;
                        color: aliceblue;
                        justify-content: space-between;
                        
                    }
            
                    .alasan-container {
                        min-height: 300px;
                        display: flex;
                        background: rgb(123, 240, 123);
                        padding: 0 10%;
                        
                    }
            
                    .patner-container{
                        height: 100px;
                        padding: 0 20px;
                        align-self: center;
                        font-size: 30px;
                    }
            
                    .Pembayaran-container{
                        height: 400px;
                        background: white;
                        margin: 40px 0;
                        padding: 20% 0 15% 0;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-columns: repeat(auto-fit);
                        gap: 5px;
                    }
            
                    .Pembayaran-container .content4{
                        background: rgba(255, 255, 255, 0.903);
                        height: 100%;
                        box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
                    }
            
                    .content4 > .content4-body{
                        padding: 20px;
                        
                    }
                    .content4-body > img {
                        object-fit: fill;
                        height: 50px;
                        width: 100%;
                    }
                    .content4 p{
                        font-size: 14px;
                        
                    }
                   
            
                    .Pembayaran-container .content5{
                        background: rgba(255, 255, 255, 0.849);
                        height: 100%;
                        box-shadow: 0 4px 8px 2px rgba(1, 1, 1, 0.1);
                    }
            
                    .content5 > .content5-body{
                        padding: 20px;
                        
                    }
                    .content5-body > img {
                        object-fit: fill;
                        height: 50px;
                        width: 100%;
                    }
                    .content5 p{
                        font-size: 14px;
                       
                    }
                    
                    .Pembayaran-container .content6{
                        background: rgba(255, 255, 255, 0.867);
                        height: 100%;
                        box-shadow: 4px 4px 8px 4px rgba(1, 1, 1, 0.1);
                    }
            
                    .content6 > .content6-body{
                        padding: 20px;
                        
                        
                    }
            
                    .content6-body > img {
                        object-fit: fill;
                        height: 200px;
                        width: 100%;
                    }
                    .content6 p{
                        font-size: 14px;
                        
                    }
            
                    .end {
                        height: 20px;
                        padding: 20px;
                    }
        }
       